img{
    
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h2{
    font-size: 80px;
    font-weight: 200;
    text-align: center;
    animation: typing 5s steps(30, end), blink .75s step-end infinite;
}
.container {
    display: flex;
    padding: 50px;
}
.container img{
    height: auto;
    flex: 33.33%;
    padding: 50px;
    
}
.rowpost .btn{
    background-color: #dfe2e8;
    position: relative;
    left: 60px;
    padding: 12px 24px;
    top: 1px;
    font-weight: bold;
}

.container .btn:hover {
    background-color: #3b3d40;
}   